@import url('menu.css');


*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--preto);
    padding: 0;
    margin: 0;
}


:root{
    --padrao:#FF4500;
    --branco:#fff;
    --branco-mn:#8a8a8a;
    --branco-bk:#f0f0f0;
    --preto:#000;
    --preto-sc:#1d1d1d;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/